body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 400px) {
  .section {
    width: 100vh;
    box-sizing: border-box;
    border-radius: 0;
    height: 100vh;
    justify-content: center;
  }
}
